
input#file-upload-button {
  @apply bg-limeGreen p-4 button-text;
}

label {
  @apply label-small pb-1 ;
}
input[type="number"],
select{
  @apply p-3 bg-bgDarkPrimary border border-bgLightSecondary body-medium;
}
input[type="number"]:hover,
select:hover {
  @apply border-limeGreen ;
  transition: all 0.3s;
}

.hard-mode {
  @apply p-4 bg-bgDarkSecondary mt-4 mb-4 w-full md:w-1/3
}

.category-card {
  @apply cursor-pointer ;
  transition: all 0.3s;
}
.category-card:hover {
  @apply shadow-[4px_4px_0px_0px_#E3F28C] translate-x-[4px] translate-y-[4px] ;
  
}

.bottom-bar {
  @apply md:w-full bg-bgDarkPrimary flex justify-end
}

button {
  @apply button-text p-4 w-full md:w-auto bg-limeGreen text-textDarkPrimary min-w-[200px]
}
button:hover {
  @apply bg-accent;
  transition: all 0.3s;
}

.main-content {
  @apply min-h-[calc(100vh-68px)];
}
.main-content>div {
  @apply max-w-[1140px] m-auto
}


.playcard {
  @apply relative bg-bgDarkPrimary border-4 border-bgLightSecondary w-full min-h-[70vh]
}

.playcard-icons .fa-arrow-right {
  @apply absolute top-[50%] right-[32px]
}
.playcard-icons .fa-arrow-down {
  @apply absolute bottom-[32px] left-[32px]
}


.leaderboard-row {
  @apply w-full p-4 flex flex-row justify-between border-2 bg-bgDarkPrimary border-bgLightSecondary
}

/*Bar chart*/
